services:
  nesy-rl:
    build:
      context: .
      dockerfile: Dockerfile
    image: nesy-rl:latest
    container_name: nesy-rl
    shm_size: "16g"
    ipc: host
    ulimits:
      memlock: -1
      stack: 67108864
    environment:
      NVIDIA_VISIBLE_DEVICES: "all"
      NVIDIA_DRIVER_CAPABILITIES: "compute,utility"
      PYTHONUNBUFFERED: "1"
    volumes:
      - .:/workspace/nesy_rl:rw
    working_dir: /workspace/nesy_rl
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: /bin/bash
